.whether {
  &-form {
    &-search {
      .form-input {
        input {
          border: 1px solid #e6e6e6 !important;
          border-radius: 5px;
          margin-bottom: 10px;
        }
        textarea {
          border: 1px solid #e6e6e6;
          border-radius: 5px;
        }
      }
      .form-select {
        margin-bottom: 15px;
      }
      .field-label {
        font-size: 14px;
        text-align: left;
        padding-right: 20px;
        padding-top: 10px;
      }
    }
  }
  .modal {
    background: #6868686b !important;
    .modal-content {
      width: 70%;
      height: fit-content;
    }
  }
  .modal-content {
    z-index: 999 !important;
    .modal-container {
      width: 100%;
      height: auto;
      .modal-header {
        font-size: 18px;
        font-weight: 700;
        color: #363636;
      }
      .field-checkbox-container {
        padding: 10px 20px;
        display: flex;
        justify-content: flex-start;
        .container {
          margin-right: 10px;
        }
        .label {
          font-size: 12px;
        }
      }
      .action-button {
        float: right;
      }
      .field-note {
        font-size: 10px;
        padding: 10px 20px;
      }
      .field-label {
        font-size: 12px;
        text-align: right;
        padding-right: 20px;
        padding-top: 10px;
      }
      .form-input {
        input {
          border: 1px solid #e6e6e6 !important;
          border-radius: 5px;
        }
      }
      p {
        font-size: 12px;
      }
      .modal-description {
        font-size: 14px;
        color: darkslategray;
      }
    }

    .modal-button-container {
      float: right;
      margin-top: 2%;
    }
    .action-field {
      width: 4%;
      .checkbox-container {
        margin: 5px;
        padding-left: 2px;
      }
    }
    .predictedImage {
      width: 550px;
      margin: 20px auto;
      img {
        width: 100%;
      }
    }
    .predictedWeather {
      font-weight: 500;
      width: fit-content;
      margin: 0px auto;
      font-size: 18px;
      color: #363636;
    }
    .predictedSupport {
      font-size: 12px;
      width: 100%;
      text-align: center;
      padding: 10px;
    }
  }
}
